.os-theme-custom.os-scrollbar-horizontal {
  --os-size: 12px;
}

.os-theme-custom.os-scrollbar-vertical {
  --os-size: 18px;
}

@media screen and (min-width: 1440px) {
  .os-theme-custom.os-scrollbar-vertical {
    --os-height: 126px;
  }
}

.os-scrollbar-handle {
  --os-track-bg: ;
  /* background-color: $ {props => ${props.theme.palette.background.scroll}} !important; */
}

.os-scrollbar-horizontal .os-scrollbar-track {
  padding: 6px;
}
